<GridLayout rows="auto, * ,50" class="page">

    <GridLayout *ngIf="selectedRoute == 'home' ? true : false" marginTop="5"
        marginBottom="5" columns="10, auto, auto, *, auto, auto, 10">
        <Label col="1" text="&#xf030;" class="fa android-lbl" marginright="8"
            verticalalignment="center" fontsize="25"></Label>
        <Image col="2" height="40" src="~/images/title.png" stretch="aspectFill"></Image>
        <Image col="4" width="30" height="30" src="~/images/icon.png"
            stretch="aspectFill" marginright="15"></Image>
        <Label col="5" text="&#xf1d9;" class="fa android-lbl"
            verticalalignment="center" fontsize="25"></Label>
        <Label col="5" text="2" borderRadius="100%" width="20" height="20"
            style="background: white; border-width: 1; border-color: #2E93F0; color: #2E93F0; margin-left:15;"
            verticalAlignment="top" horizontalAlignment="right"
            textAlignment="center"></Label>
    </GridLayout>

    <!-- home screen -->
    <ScrollView row="1" [visibility]="selectedRoute == 'home' ? 'visible' : 'collapse'">

        <StackLayout>

            <!-- header -->
            <StackLayout borderBottomWidth="0.5" borderBottomColor="gray">
                <ScrollView orientation="horizontal"
                    scrollBarIndicatorVisible="false">
                    <StackLayout orientation="horizontal">
                        <GridLayout *ngFor="let header of instagram.home.header"
                            height="90" rows="auto, auto" style="margin: 10;">
                            <Image row="0" [src]="header.imageSrc"
                                borderRadius="100%" verticalAlignment="center"
                                horizontalAlignment="center" stretch="aspectFill"
                                [ngClass]="{imgheaderown : header.isOwn, imgheader : !header.isOwn}"></Image>
                            <Label row="0" text="" borderRadius="100%" height="70"
                                width="70" [visibility]="!header.isOwn ? 'visible' : 'collapsed'"
                                style="border-width: 2; border-color: #ff4b60;"></Label>
                            <Label *ngIf="header.isOwn" row="0" borderRadius="100%"
                                width="30" height="30" text="&#xf055;"
                                fontSize="30" backgroundColor="white" color="#2E93F0"
                                class="fa" textAlignment="center"
                                verticalAlignment="bottom"
                                horizontalAlignment="center" marginLeft="70"></Label>
                            <Label row="1" [text]="header.title" color="black"
                                textAlignment="center" marginTop="3"></Label>
                        </GridLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>

            <!-- body -->
            <GridLayout rows="30, 30, *, auto" columns="10, auto,10, *, auto"
                *ngFor="let item of instagram.home.body" marginTop="5">
                <Image row="0" rowSpan="2" col="1" [src]="item.imageSrc"
                    borderRadius="100%" height="40" width="40"
                    verticalAlignment="center" horizontalAlignment="center"
                    stretch="aspectFill"></Image>
                <Label row="0" rowSpan="2" col="1" text="" borderRadius="100%"
                    height="50" width="50" style="border-width: 2; border-color: #ff4b60;;"></Label>
                <Label row="0" col="3" [text]="item.name" verticalAlignment="bottom"
                    color="black"></Label>
                <Label row="1" col="3" [text]="item.location"
                    verticalAlignment="top" color="#4c4c4c"></Label>
                <Label row="0" rowSpan="2" col="4" text="&#xf142;" class="fa android-lbl"
                    fontSize="25" verticalAlignment="center" paddingright="25"
                    margintop="5"></Label>
                <Image marginTop="10" row="2" col="0" colSpan="5" [src]="item.post"
                    stretch="aspectFill"></Image>
                <GridLayout row="3" col="0" colSpan="5" rows="auto, auto, auto, auto, auto"
                    columns="auto, auto, auto, *, auto" margintop="5"
                    marginbottom="20">
                    <Label row="0" col="0" text="&#xf004;" class="fa android-lbl"
                        fontSize="25" verticalAlignment="center" padding="10"></Label>
                    <Label row="0" col="1" text="&#xf075;" class="fa android-lbl"
                        fontSize="25" verticalAlignment="center" padding="10"></Label>
                    <Label row="0" col="2" text="&#xf1d8;" class="fa android-lbl"
                        fontSize="25" verticalAlignment="center" padding="10"></Label>
                    <Label row="0" col="4" text="&#xf02e;" class="fa android-lbl"
                        fontSize="25" verticalAlignment="center" padding="10"></Label>
                    <Label row="1" col="0" colSpan="5" text="{{ item.likes }} Likes"
                        verticalAlignment="bottom" color="black" paddingleft="10"
                        fontSize="16"></Label>
                    <Label marginLeft="10" row="2" col="0" colSpan="5"
                        verticalAlignment="bottom" textWrap="true">
                        <FormattedString>
                            <Span [text]="item.desc.person" color="black"></Span>
                            <Span [text]="item.desc.content" color="#2E93F0"></Span>
                        </FormattedString>
                    </Label>
                    <Label row="3" col="0" colSpan="5" text="...more"
                        verticalAlignment="bottom" paddingleft="10" color="#4c4c4c"></Label>
                    <Label row="4" col="0" colSpan="5" [text]="item.time"
                        verticalAlignment="bottom" paddingleft="10" color="#4c4c4c"></Label>
                </GridLayout>
            </GridLayout>

        </StackLayout>
    </ScrollView>
</GridLayout>